//detailNovel.scss
.header-detail {
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.detail-content {
    margin-left: 10%;
    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 20px;
    }
}

.chapter-detail-novel {
    background-color: #F0F0F0;
    padding: 2%;
    border-radius: 10px;
}

.chapter {
    display: flex;
    background-color: #A7A37E;
    padding: 10px;
    height: 3rem;
    align-items: center;
    border-radius: 10px;
}

.review {
    display: flex;
    background-color: #F0F0F0;
    margin-top: 4%;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.total-review {
    background-color: white;
    width: 40%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.review-user {
    margin-left: 5%;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}



@media screen and (max-width: 576px) {
    .header-detail {
        flex-direction: column;
        align-items: center;
    }

    .detail-content {
        margin-left: 0;
        margin-top: 20px;
    }

    .chapter-detail-novel {
        padding: 1%;
        margin-top: 25px;
    }

    .chapter {
        margin: 1%;
        padding: 8px;
        height: 2.5rem;
    }

    .review {
        margin-top: 2%;
        padding: 8px;
    }

    .total-review {
        width: 80%;
    }
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}